@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Comforter&family=Corinthia:wght@700&family=Dancing+Script&family=EB+Garamond:ital,wght@1,500&family=Gwendolyn:wght@700&family=Indie+Flower&family=Lato:wght@300&family=Lobster&family=Luxurious+Roman&family=Meow+Script&family=Quicksand:wght@300&family=Raleway:wght@100;200&family=Roboto:ital,wght@0,100;0,300;1,100&family=Shadows+Into+Light&family=Shizuru&family=Source+Serif+4:ital,wght@0,300;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  color: #333;
}

body {
  font-family: "Segoe UI", "san serif";
  line-height: 1.7;
  font-family: "raleway", sans-serif;
}

.business-header {
  display: flex;
  justify-content: space-between;
}
.navbar li {
  display: flex;
}

.navbar a {
  position: relative;
}
.navbar .packages {
  position: absolute;
  display: none;
  background: #fff;

  margin: -2rem;
  border-radius: 4px;
}
.navbar .packages a {
  color: #000;
  font-weight: 600;
}

.navbar .packages a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 100%;
}

.navbar > ul :hover .packages {
  display: block;
  margin-top: 3.5rem;
}
.container {
  max-width: 1440px;
  margin: auto;
}

.container ul {
  display: flex;
}

.container li a {
  padding: 0.6rem 1.7rem;
}
/* header {
  height: 100vh;
  position: relative;
}

header::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

header * {
  z-index: 2;
} */

.navbar {
  margin-right: 7rem;
  font-family: "raleway";
}
.navbar a {
  color: #000;
  margin-top: 1.1rem;
  font-weight: 900;
  font-size: 15px;
}
.navbar a:hover {
  transition: all 0.6s ease-in-out;
  color: #888;
}
.main-business-header img {
  margin-left: 6rem;
  margin-top: 1.4rem;
  width: 180px;
}

.navbar .lastchild a {
  background: #007bff;
  color: #fff;
  border-radius: 6px;
}

.navbar .lastchild a:hover {
  opacity: 0.7;
}

.business-section {
  background: url(../img/businessmeeting.jpg) no-repeat center center/cover;
  height: 80vh;
}

.business-section h2 {
  text-align: center;
  padding-top: 8rem;
  color: #fff;
}
.paragraph {
  text-align: center;
  font-weight: 500;
  color: #fff;
}

#business-boxes {
  display: flex;
  margin-left: 16rem;
  margin-top: 3rem;
  text-align: center;
}

.box-3 {
  background: rgba(0, 0, 0.1, 0.3);
  padding: 2rem;
  color: #fff;
}

.box-2 {
  background: rgba(0, 0, 0.1, 0.3);
  padding: 2rem;
  color: #fff;
}
.box-1 {
  background: rgba(0, 0, 0.1, 0.3);
  padding: 2rem;
  color: #fff;
}

/* media queries */

@media (max-width: 558px) {
  .hamburger {
    position: static;
    z-index: 100;
    top: 2rem;
    right: 8rem;
    padding: 4px;

    background: rgba(0, 0, 0.1, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .closeIcon {
    display: none;
  }
  .navbar {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 4rem;
    right: -7rem;
    bottom: 0;
    z-index: 99;
    background: #f0f6fe;

    list-style: none;
    padding-top: 4rem;
  }

  .navbar ul {
    color: #000;
    display: block;
  }
  .navbar a {
    color: #000;
  }
  .showMenu {
    transform: translateY(0);
  }
}

@media (min-width: 558px) {
  .hamburger {
    display: none;
  }
}
