@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Comforter&family=Corinthia:wght@700&family=Dancing+Script&family=EB+Garamond:ital,wght@1,500&family=Gwendolyn:wght@700&family=Indie+Flower&family=Lato:wght@300&family=Lobster&family=Luxurious+Roman&family=Meow+Script&family=Quicksand:wght@300&family=Raleway:wght@100;200&family=Roboto:ital,wght@0,100;0,300;1,100&family=Shadows+Into+Light&family=Shizuru&family=Source+Serif+4:ital,wght@0,300;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  color: #333;
}

body {
  font-family: "Segoe UI", "san serif";
  line-height: 1.7;
  font-family: "raleway", sans-serif;
}

.max-header {
  display: flex;
  justify-content: space-between;
}
.navbar li {
  display: flex;
}

.navbar a {
  position: relative;
}
.navbar .packages {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.2);

  margin: -2rem;
  border-radius: 4px;
}
.navbar .packages a {
  color: #fff;
}

.navbar .packages a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.navbar > ul :hover .packages {
  display: block;
  margin-top: 3.5rem;
}
.container {
  max-width: 1440px;
  margin: auto;
}

.container ul {
  display: flex;
}

.container li a {
  padding: 0.6rem 1.7rem;
}
header {
  background: url(../img/pexel-2.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

header::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

header * {
  z-index: 2;
}
/* .max-header {
  position: sticky;
  top: 0;
} */

.navbar {
  margin-right: 7rem;
  font-family: "raleway";
}
.navbar a {
  color: #fff;
  margin-top: 1.1rem;
  font-weight: 900;
  font-size: 15px;
}
.navbar a:hover {
  transition: all 0.6s ease-in-out;
  color: #333;
}
.main-header img {
  margin-left: 6rem;
  margin-top: 1.4rem;
  width: 180px;
}

.navbar .lastchild a {
  background: #007bff;
  color: #fff;
  border-radius: 6px;
}

.navbar .lastchild a:hover {
  opacity: 0.7;
}

/* showcase area */
.header-showcase {
  margin-top: 8rem;
  margin-left: 4rem;
  padding: 2.5rem;
  text-align: left;
}
.header-showcase h1 {
  font-family: "Segoe UI", sans-serif;
  font-weight: 800;
  font-size: 2.8rem;
  color: #fff;
}

.header-showcase a {
  background: #007bff;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  padding: 0.7rem 2.4rem;
  font-family: "raleway";
}
.header-showcase p {
  margin-top: 1.2rem;
  margin-bottom: 1.3rem;
  color: #fff;
  font-family: "raleway";
  font-weight: 900;
}

.header-showcase a:hover {
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}
.main-showcase {
  display: flex;
}

.main-showcase .showcase-image img {
  width: 570px;
  margin-top: 1.4rem;
  margin-left: 12rem;
}

/* presentation area */
.presentation h2 {
  text-align: center;
}
.presentation {
  margin-top: 3rem;
}

.timeline-area {
  margin: 5rem;
  margin-left: 12srem;
  width: 400px;
  border-left: 2px solid #ccc;
  padding: 0 20px 0 30px;
}

.timeline-area > div p {
  font-size: 0.8rem;
  padding: 0.7rem 0rem;
  text-align: left;
}

.timeline-area > .area-div {
  position: relative;
}

.area-div::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  border: 3px solid #ddd;
  position: absolute;
  top: 10px;
  left: -40px;
}

.timeline-picture img {
  width: 500px;
}

.timeline-picture {
  margin-left: 5rem;
}

.presentation-aside {
  display: flex;
}

.main-programs h2 {
  text-align: center;
}

.main-programs p {
  text-align: center;
}

.programs-section {
}
.main-programs {
  background: #f0f6fe;
}

.main-program-image img {
  width: 600px;
  margin-top: 2rem;

  /* margin-left: 18rem; */
}

/* main-programs */
.main-program-image {
  text-align: center;
  position: relative;
  padding: 2rem;
}

.frontend {
  text-align: center;
  margin-top: 1rem;
  margin-left: 13.7rem;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 800;
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);
  padding: 0.2rem 2rem;
}

.frontend:hover {
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.quality-assurance {
  margin-top: 23rem;
  margin-left: 25rem;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 800;
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);
  padding: 0.2rem 2rem;
}

.quality-assurance:hover {
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.product-mgt {
  margin-top: 23rem;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 800;
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);
  padding: 0.2rem 2rem;
}
.product-mgt:hover {
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.business-analysis {
  margin-top: 13rem;
  margin-left: 28rem;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 800;
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);
  padding: 0.2rem 2rem;
}

.business-analysis:hover {
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.ui-ux {
  margin-top: 13rem;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 800;
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);
  padding: 0.2rem 2rem;
}

.ui-ux:hover {
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.sub-programs h2 {
  text-align: center;
  margin-top: 6rem;
}

.sub-programs p {
  text-align: center;
  font-size: 0.9rem;
}

.flex-1 {
  margin: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.flex-1 p {
  font-size: 14px;
}
.flex-2 p {
  font-size: 14px;
}
.flex-2 {
  margin: 2rem;
  margin-left: 8.5rem;
  display: flex;
  justify-content: space-evenly;
}

.sub-flex2 {
  margin-left: -2rem;
}
article {
  text-align: center;
  margin: 4rem;
}
article p {
  font-size: 14px;
}

.article-image img {
  width: 110px;
  padding: 1rem;
}
.our-candidates {
  background: #f0f6fe;
  padding: 1rem 0rem;
}
.our-candidates h2 {
  text-align: center;
  margin: 4rem;
}

.main-candidates {
  display: flex;
  text-align: center;

  padding: 0rem 12rem;
}

.main-candidates p {
  font-size: 14px;
}
.candidate-1 {
  background: #fff;
  margin: 1rem;
  padding: 2rem;
  border-radius: 4px;
  transition: 1s;
  box-shadow: 10px 0px 40px 3px rgba(175, 164, 164, 0.3);
}
.candidate-1:hover {
  transform: scale(1.3);
  background: #f0f6fe;
  z-index: 2;
}

.candidate-2 {
  background: #fff;
  margin: 1rem;
  padding: 2rem;
  border-radius: 4px;
  transition: 1s;
  box-shadow: 10px 0px 40px 3px rgba(175, 164, 164, 0.3);
}
.candidate-2:hover {
  transform: scale(1.3);
  background: #f0f6fe;
  z-index: 2;
}
.candidate-3 {
  background: #fff;
  margin: 1rem;
  padding: 2rem;
  border-radius: 4px;
  transition: 1s;
  box-shadow: 10px 0px 40px 3px rgba(175, 164, 164, 0.3);
}
.candidate-3:hover {
  transform: scale(1.3);
  background: #f0f6fe;
  z-index: 2;
}

.candidates-link {
  text-align: center;
  margin: 3rem;
}

.candidates-link a {
  background: #007bff;
  padding: 0.5rem;
  color: #fff;
  border-radius: 5px;
}

.candidates-link a:hover {
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.our-candidates-workfor {
  margin-top: 3rem;
  text-align: center;
}

.our-candidates-workfor-images img {
  padding: 1rem;
}

/* who flex */

.who {
  padding: 3rem;
}
.who h2 {
  text-align: center;
  margin-top: 12rem;
}

.who-flex-1 {
  margin: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.who-flex-1 p {
  font-size: 14px;
}
.who-flex-2 p {
  font-size: 14px;
}
.who-flex-2 {
  margin: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.who-sub-flex4 {
  margin-right: 2rem;
}

.who-link {
  text-align: center;
  margin: 1.3rem;
}
.who-link a {
  padding: 0.6rem 1rem;
  background: #007bff;
  border-radius: 5px;
  color: #fff;
}

.who-link a:hover {
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

/* footer section */

footer {
  background: #0a5eb8;
  margin-top: 4rem;
}

.main-footer {
  padding: 5rem;
}

.first-footer {
  display: flex;
  justify-content: space-between;
}

.first-footer a {
  color: #fff;
  font-weight: 700;
}

.second-footer {
  border-bottom: solid 1px #fff;
}
.socials {
  display: flex;
  justify-content: flex-end;
  margin-right: 7rem;
}
.socials i {
  color: #ffffffb2;
  padding: 0.7rem;
}

.third-footer {
  text-align: center;
  padding-top: 3rem;
}

.third-footer p {
  color: #ffffffb2;
}

/* media queries */

@media (max-width: 558px) {
  .hamburger {
    position: static;
    z-index: 100;
    top: 2rem;
    right: 8rem;
    padding: 4px;

    background: rgba(0, 0, 0.1, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .closeIcon {
    display: none;
  }
  .navbar {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 4rem;
    right: -7rem;
    bottom: 0;
    z-index: 99;
    background: #f0f6fe;

    list-style: none;
    padding-top: 4rem;
  }

  .navbar ul {
    color: #000;
    display: block;
  }
  .navbar a {
    color: #000;
  }
  .showMenu {
    transform: translateY(0);
  }
  /* .navbar {
    position: fixed;
    top: 0;
    left: 110%;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 98;
    background-color: #f0f6fe;
    padding-top: 120px;
    transition: 0.4s;
  }

  .navbar ul {
    display: block;

    margin: 2rem 20rem;
    text-align: center;
    padding: 2rem 6rem;
    text-decoration: none;
    color: #222;
  }

  .navbar a {
    display: block;
    color: #222;
    width: 100%;
    padding: 2rem;
    text-align: center;
    max-width: 400px;
    font-size: 2rem;
  }
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;

  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-16px);
}

.menu-btn-burger::after {
  transform: translateY(16px);
}

/* animation */

  /* .menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px); */
}

/* hamburger button */

@media (min-width: 558px) {
  .hamburger {
    display: none;
  }
}
/* media for 1050px */
@media (max-width: 1050px) {
  header {
    width: 100%;
  }
  .max-header {
    display: flex;
    flex-direction: row;
  }
  .main-header img {
    width: 160px;
    padding-top: 1rem;
    padding-right: rem;
  }
  .main-header {
    margin: 0 -3.9rem;
  }
  .navbar a {
    margin: 1.3rem -1.8rem;
    padding: 2rem;
  }
  .navbar li {
    padding-left: 2rem;
  }

  .navbar .lastchild {
    margin-left: 1.7rem;
  }

  .main-showcase {
    padding-top: 9rem;
  }

  .header-showcase h1 {
    font-size: 3rem;
  }
  .header-showcase p {
    font-size: 1.3rem;
  }
  .header-showcase {
    font-size: 1.4rem;
  }
}

@media (max-width: 1009px) {
  .main-header {
    margin: 0 -3.3rem;
  }
  .navbar li {
    padding: 0 -1rem;
  }
}
/* queries for 906px */
@media (max-width: 906px) {
  .main-header {
    margin: 0 -3.6rem;
  }
  .navbar a {
    margin: 1rem -1.4rem;
    padding: 2rem;
  }
  .navbar li {
    padding-left: 1rem;
  }

  .navbar .lastchild {
    margin-left: 1.2rem;
  }
}
/* queries for 868px */
@media (max-width: 960px) {
  .timeline-area {
    margin-left: -1rem;
  }
  .timeline-picture img {
    width: 500px;
    margin-left: -4rem;
  }
  .main-candidates {
    padding: 4rem;
  }
}

/* queries for 850px */
@media (max-width: 850px) {
  .main-header {
    margin: 0 -3.9rem;
  }
  .navbar a {
    margin: 1.3rem -1.8rem;
    padding: 2rem;
  }
  .navbar li {
    padding-left: 1rem;
  }

  .navbar .lastchild {
    margin-left: 1.7rem;
  }
  .presentation-aside {
    display: block;
  }
  .timeline-area {
    margin-left: 16rem;
  }
  .timeline-picture {
    margin-left: 8rem;
  }

  .programs-section a {
    font-size: 14px;
  }

  .sub-flex3 {
    margin-left: -1.5rem;
  }
  .main-candidates {
    padding: 4rem;
  }
}

/* queries for 784 */
@media (max-width: 784px) {
  .navbar a {
    margin: 1.3rem -2rem;
    padding: 2rem;
  }
  .navbar li {
    padding-left: 1rem;
  }
  .main-candidates {
    padding: 1rem;
  }
}

@media (max-width: 740px) {
  .navbar a {
    margin: 1.3rem -2.2rem;
    padding: 2rem;
  }
  .navbar li {
    padding-left: 1.1rem;
    margin-left: -0.4rem;
  }
  .navbar .lastchild {
    margin-left: 4rem;
  }
  .timeline-area {
    margin-right: 6rem;
  }
  .timeline-picture {
    margin-right: 3rem;
  }
  .sub-flex3 {
    margin-left: -3.9rem;
  }
}

/* queries for 720px */
@media (max-width: 720px) {
  .navbar a {
    padding: 0.1rem;
  }
  .navbar li {
    margin-left: 0.98rem;
  }
  .navbar .lastchild {
    margin-left: 4rem;
  }
  .timeline-area {
    margin-right: 14rem;
  }
  .timeline-picture {
    margin-right: 6rem;
  }
  .sub-flex3 {
    margin-left: -3.9rem;
  }
}

@media (max-width: 700px) {
  .timeline-area {
    padding-right: 8rem;
  }
  .flex-1 {
    display: block;
    padding-left: 8rem;
  }
  .flex-2 {
    display: block;
    padding-right: 3rem;
  }

  .sub-flex2 {
    padding-left: 2rem;
    padding-top: 2rem;
  }

  .sub-flex3 {
    padding-left: 6.3rem;
  }

  .sub-flex4 {
    padding-left: 2.6rem;
    padding-top: 2rem;
  }
  .main-candidates {
    display: block;
  }
  .who-flex-1 {
    display: block;
    padding-left: 6rem;
  }
  .who-flex-2 {
    display: block;
    padding-left: 6rem;
  }
  .who-sub-flex2 {
    padding-top: 2rem;
  }
  .who-sub-flex4 {
    padding-top: 2rem;
  }
}

@media (max-width: 677px) {
  .main-header img {
    width: 130px;
  }
  .navbar {
    margin-left: -4rem;
  }

  .navbar a {
    margin: 0 -3.2rem;
  }
  .navbar ul {
    margin-right: -3rem;
    margin-top: 1.3rem;
  }
  .navbar li {
    padding-left: 2rem;
  }
  .timeline-area {
    margin: 4rem;
    margin-left: 10rem;
  }

  .header-showcase {
    margin: -0.7rem;
  }
  .main-program-image img {
    width: 400px;
  }
  .frontend {
    margin: 8rem;
    margin-left: 8rem;
    margin-top: -0rem;
  }
  .ui-ux {
    margin: 5rem;
    margin-left: -1rem;
  }

  .business-analysis {
    margin: 10rem;
    margin-right: -3rem;
    margin-top: 5rem;
  }
  .quality-assurance {
    margin-top: 8rem;
    margin-left: 13rem;
  }
  .product-mgt {
    margin-top: 8rem;
    margin-left: -3rem;
  }
}
@media (max-width: 622px) {
  .main-header img {
    margin-right: -10rem;
  }
  .navbar {
    font-size: 1rem;
  }
  .navbar ul {
    margin-top: 3rem;
    margin-right: 2rem;
  }
  .navar a {
    padding: 2rem;
  }

  .lastchild {
    margin-right: -3rem;
  }
  .flex-1 {
    margin-left: -1.7rem;
  }
  .flex-2 {
    margin: 4rem;
  }
  .timeline-picture img {
    width: 380px;
  }
}

/* iphone SE */

@media (max-width: 377px) {
  .header-showcase h1 {
    font-size: 25px;
  }
  .header-showcase p {
    font-size: 15px;
  }

  .header-showcase a {
    font-size: 10px;
  }
  .timeline-picture img {
    width: 250px;
  }
  .timeline-area {
    margin: 5rem;
    margin-right: 3.3rem;
  }
  .main-programs img {
    width: 250px;
  }

  .main-program-image a {
    display: inline;
    font-size: 8px;
  }
  .quality-assurance {
    display: inline;
    margin: 8rem;
    margin-right: -2rem;
    margin-bottom: 4rem;
  }
  .business-analysis {
    margin-right: -4rem;
  }
  .frontend {
    margin-left: 3.2rem;
    margin: 2.6rem;
  }
  .flex-1 {
    display: block;
    padding: 0rem 2rem;
  }

  .sub-flex3 {
    margin-left: -6rem;
    padding: 0 2rem;
  }
  .sub-flex4 {
    margin-left: -6rem;
    padding: 2rem;
  }
  .who-flex-1 {
    padding: 1rem;
  }
  .who-flex-2 {
    padding: 1rem;
  }

  .first-footer {
    display: block;
    padding: 1rem;
    margin-right: 6rem;
  }
  .first-footer a {
    padding: 0.1rem;
  }
}
/* iphone xr */

@media (max-width: 421px) {
  .timeline-picture img {
    width: 250px;
  }
  .timeline-area {
    margin: 5rem;
    margin-right: 3.3rem;
  }
  .container {
    width: min-content;
  }
  .main-programs img {
    width: 250px;
  }

  .main-program-image a {
    display: inline;
    font-size: 8px;
  }
  .quality-assurance {
    display: inline;
    margin: 8rem;
    margin-right: -2rem;
    margin-bottom: 4rem;
  }
  .business-analysis {
    margin-right: -4rem;
  }
  .frontend {
    margin-left: 3.2rem;
    margin: 2.6rem;
  }
  .flex-1 {
    display: block;
    padding: 0rem 2rem;
  }

  .sub-flex3 {
    margin-left: -6rem;
    padding: 0 2rem;
  }
  .sub-flex4 {
    margin-left: -6rem;
    padding: 2rem;
  }
  .who-flex-1 {
    padding: 1rem;
  }
  .who-flex-2 {
    padding: 1rem;
  }
}

@media (max-width: 1044px) {
  .header-showcase {
    margin-top: -4rem;
  }
}
@media (max-width: 588px) {
  .header-showcase {
    margin-top: -6rem;
  }
}
@media (max-width: 387px) {
  .header-showcase h1 {
    font-size: 38px;
  }
}

@media (max-width: 394px) {
  .first-footer {
    display: block;
    padding: 1rem;
    margin-right: 6rem;
  }
  .first-footer a {
    padding: 0.1rem;
  }
  .container {
    width: min-content;
  }
}

@media (max-width: 553px) {
  .timeline-area {
    padding: -8rem;
  }

  .timeline-area {
    width: min-content;
  }
  .navbar .packages {
    margin-left: 6rem;
    padding: 2rem;
  }
  .packages li {
    color: #000;
  }
}
